<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mario.blog.mapper.UserMapper">

	<resultMap id="userResultMap" type="UserVO">
		<id property="uuid" column="uuid" /><!-- 主键列 -->
		<result property="name" column="name" />
		<result property="email" column="email" />
		<result property="password" column="password" />
		<result property="createTime" column="createTime" />
		<result property="updateTime" column="updateTime" />
	</resultMap>

	<insert id="saveUser"  keyColumn="uuid" keyProperty="uuid" parameterType="UserVO">
		insert into user (uuid,name, email, password,createTime,updateTime)
		values(#{uuid},#{name}, #{email}, #{password},#{createTime},#{updateTime})
	</insert>

	<select id="validateLogin"  parameterType="UserVO"	resultMap="userResultMap">
		select * from user where email=#{email} and password=#{password}
	</select>

	<select id="validateUserEmail" parameterType="String" resultMap="userResultMap">
		select * from user where email = #{email}
	</select>

	<select id="validateUserName" parameterType="String" resultMap="userResultMap">
		select * from user where name = #{name}
	</select>

</mapper>